<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.planit.dto.UserDTO" alias="userdto"/>
		<typeAlias type="com.planit.dto.GoalDTO" alias="goaldto"/>
		<typeAlias type="com.planit.dto.ContactDTO" alias="contactdto"/>
		<typeAlias type="com.planit.dto.TimeDTO" alias="timedto"/>
		<typeAlias type="com.planit.dto.TodoDTO" alias="tododto"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/planit"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/planit/mapper/user.xml"/>
		<mapper resource="com/planit/mapper/goal.xml"/>
		<mapper resource="com/planit/mapper/time.xml"/>
		<mapper resource="com/planit/mapper/contact.xml"/>
	</mappers>
</configuration>












