#main_nav {
	width: 256px;
	box-sizing: border-box;
	float: left;
	/*background: url(./왼쪽\ 메뉴바\ 배경.png);*/
	/* border: 1px solid red; */
	height: 1000px;
}

body {
	font-family: SpoqaHanSans, Abel, Lato-Bold, Droid Sans, AppleSDGothicNeo,
		"sans-serif";
	font-weight: 300;
	color: #181818;
	background-color: #fff;
	line-height: 1;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.m_detail {
	width: 85%;
	height: 50px;
	font-size: 20px;
	margin: 35px auto;
	text-align: center;
	line-height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}

.m_userinfo {
	width: 85%;
	height: 150px;
	font-size: 20px;
	margin: 20px auto;
	text-align: center;
	color: aliceblue;
}

.userinfo_img {
	width: 50%;
}

.m_goal {
	height: 256px;
	/*background: url(./목표\ 달성도판\ 이미지.png) no-repeat center;*/
	background-size: 100%;
}

.goaldetail {
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: 20%;
	/* border: 1px solid red; */
}
/* 메인 메뉴 목표 설정 버튼  */
#show {
	width: 150px;
	height: 50px;
	color: white;
	background-color: black;
	boarder-radius: 0;
	border: none;
	font-weight: 300;
}

#goal_tb {
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

#goal_tb>tr {
	margin: 10px 0;
}

#add_goal {
	width: 70px;
	height: 30px;
	margin-top : 10px;
	margin-right: 5px;
	color: white;
	background-color: black;
	boarder-radius: 0;
	border: none;
	font-weight: 300;
}

#close {
	width: 70px;
	height: 30px;
	margin-top : 10px;
	margin-left: 5px;
	color: black;
	background-color: white;
	boarder-radius: 0;
	border: 1px solid black;
	font-weight: 300;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 300px;
	height: 200px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

#getgoal_btn1 {
	width: 100px;
	height: 30px;
	margin-top : 10px;
	margin-right: 5px;
	margin-bottom:20px;
	color: white;
	background-color: black;
	boarder-radius: 0;
	border: none;
	font-weight: 300;
}

#getgoal_btn2 {
	width: 100px;
	height: 30px;
	margin-top : 10px;
	margin-right: 5px;
	color: white;
	background-color: black;
	boarder-radius: 0;
	border: none;
	font-weight: 300;
}
#goal_tit1{
	margin : 10px 0;
}

#goal_tit2{
	margin : 10px 0;
}

.goalset1{
	width : 200px;
	height:110px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top : 15px;
}

.goalset2{
	width : 200px;
	height:110px;
	border: 1px solid black;
	margin: 0 auto;
	margin-top : 15px;
}