@charset "UTF-8";

.w-btn {
    position: relative;
    border: none;
    padding: 15px 15px;
    display : inline-block;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}


.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.w-btn-gra2 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;
}

.w-btn-gra3 {
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    color: white;
}

.w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.w-btn-neon2 {
    position: relative;
    border: none;
    min-width: 25px;
    min-height: 25px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
}

.w-btn-neon2:hover {
    transform: scale(1.2);
}

.w-btn-neon2:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-6 {
  background: rgb(247,150,192);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

.btn-8 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}


#chatWindow{
         border:1px;
         width:95%;
         height: 80%;
         overflow: scroll;
         padding: 5px;
         margin:20px 0;
         overflow-x:hidden;
      }
      
      #chatMessage{
         width:80%;
         height: 45px;
         font-size : 30px;
      }
      
      #sendBtn{
         height: 45px;
         position: relative;
         font-size : 20px;
         align-items: center;
         justify-content: center;
         margin-left : 0.5%;
         
      }
      #sendBtn2{
         height: 45px;
         position: relative;
         font-size : 20px;
         align-items: center;
         justify-content: center;
         margin-left : 0.5%;
         
      }
      
      #closeBtn{
         margin-bottom: 3px;
         position: relative;
         top: 2px;
         left: -2px;
         height: 45px;
      }
      
      #chatId{
         width: 30%;
         height: 45px;
         border: 1px;
         solid #AAAAAA;
         background-color: #EEEEEE;
         display:flex;
         text-align:center;
         align-items:center;
         margin-left : 25%;
      }
      
      .myMsg{
         text-align: right;
      }
      
      #form_contents{
         display:block;
         text-align : center;
         margin : 0 auto;
         align-items: center;
         justify-content: center;
      }
      
      .made_chat1{
         height : 35px;
         width : 30%;
         text-align : center;
         font-size : 25px;
      }
      
      .made_chat2{
         height : 35px;
         width : 30%;
         text-align : center;
         font-size : 25px;
      }
      
      #join_chat{
         margin-top : 5%;
      }
      .join_chat1{
         height : 35px;
         width : 15%;
         text-align : center;
         font-size : 25px;
      }
      
      
      *{
   margin:0;
   padding:0;
   list-style:none;
   font-family:"malgun gothic";
}

html, body{
    height: 100%;
    width: 100%;
}

.clear{clear:both;}

#nav{width:15%;text-align:center;}

.menu{
    width: 100%;
   line-height:2;
   position:relative;
    height: 80px;
    line-height: 70px;
    padding: auto;
   margin-top: 18px;
    font-size: 25px;
   z-index: 10;
}

.menu .submenu{
   position:absolute;
   width: 100%;
   left:300px;
   border:1px solid #222;
   background-color:rgb(214, 233, 105);
   color:white;
   top:-1px;
   display:none;
    margin-left: -6%;
   opacity: 1;
   z-index: 10;
}

.menu:hover{
   background-color:#222;
   color:white;
}

.menu .submenu>li:hover{
   background-color:black;
   color:#222;
}

#container{
    display: flex;
    height: 100%;
   width: 100%;
   /* background-image: url(../images/friend_chat.png); */
   background-position: 100% 100%;
   background-size: cover;
   background-repeat: no-repeat;
}

/* #main_box{
    width: 15%;
    height: 100vh;
    background-color: black;
    color: white;
    border: 3px solid greenyellow;
    float: left;
   opacity: 0.6;
   z-index: 3;
} */

/* #nav{
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0.7;
} */

/* #user_intro{
    height: 200px;
    padding: 20px;
    text-align: center;
    line-height: 200px;
    font-size: 25px;
} */

/* #goal{
    height: 200px;
    padding: 20px;
    line-height: 200px;
    font-size: 25px;
} */

#contents_box{
    width: 50%;
    height: 90vh;
    border-radius:10px;
    background-color:rgba(250,235,215,0.8);
   margin-left: 8%;
   margin-top: 2%;

}

#friend_list{
   width: 17%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    color: white;
   float: left; 
/*     align-items: center;
   justify-content: center;   
   display: flex;    */
   font-size: 25px;
   z-index: 2;
} 


   table{
      border:0px;
      width:100%;
   }

   .title h3{
      font-size: 30px;
      color:rgb(207, 122, 233);
   }
   
   .title{
      padding:20px 0;
      background-color:#BDB76B;
   }

   .list{
      border-collapse: collapse;
      border-spacing: 0;
      width:100%;
   }

   .list > tbody > tr:nth-child(2n) {
      background-color:#BC8F8F;
   }

   .list > tbody > tr:nth-child(n+2):hover {
      background-color: #FAFAD2;
   }

   .list > tbody > tr > th{
      border-bottom: 1px solid #ccc;
      padding:15px;
   }
   
   #chat_tit{
      padding:20px 0;
      text-align:center;
      margin: 0 auto;
      width:100%;
   }

   .list > tbody > tr > td{
      border-bottom: 1px solid #ccc;
      padding: 5px;
      text-align: center;
   }

   a{
      display:inline-block;
      border-radius: 3px;   
      color:#fff;
      font-weight: bold;
      text-decoration: none;
   }

   .list a{
      background-color: transparent;
      color:#424242;
   }


   .pagination a{
      padding: 5px;
      width:20px;
      height: 20px;
   }

   .pagination a:hover { background-color: rgb(207, 122, 233); }
   .nowPage{
      padding: 5px;
      width:20px;
      height:20px;
      display: inline-block;
      border-radius: 3px;
      background-color: rgb(207, 122, 233);
      color:#fff;
      font-weight: bold;
   }

   a.write{
      padding: 5px;
      width:70px;
      height:25px;
      text-align: center;
   }
   .search_area { 
      text-align: center; 
      vertical-align: middle;
   }

   .search_area #q{
      outline: none;
      border:2px solid rgb(207, 122, 233);
      border-radius: 3px;
      width:170px;
      padding:10px;
   }
   .search_area [type=button]{
      background-color: rgb(207, 122, 233);
      width:50px;
      padding:10px;
      height:38px;
      display:inline-block;
      border:1px solid rgb(0,200,80);
      position: relative;
      top:1.5px;
      border-radius: 3px;
      color:#fff;
      font-weight: bold;
   }

   #no_search{
      color: white;
   }

   #list_title{
      color: white;
      font-size: 25px;
      height: 30px;
   }

   #ok_fr{
      color: white;
   }
   

   
/*    .yourMsg{
      position: relative;
      width: 30%;
      height: 10%;
      padding: 15px;
      background: #D1BDE8;
      -webkit-border-radius: 44px;
      -moz-border-radius: 44px;
      border-radius: 44px;
      border: #4EC5AC solid 7px;
      font-size:20px;
      font-weight:bold;
      display:block;
      margin-bottom : 8px;
      word-break:break-all;
   }
   
   .yourMsg:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 23px 22px 23px 0;
      border-color: transparent #D1BDE8;
      display: block;
      width: 0;
      z-index: 1;
      left: -16px;
      top: 18px;
   }

   .yourMsg:before{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 29px 28px 29px 0;
      border-color: transparent #4EC5AC;
      display: block;
      width: 0;
      z-index: 0;
      left: -24px;
      top: 10px;
   } */
   
   .myMsg{
      width: 30%;
      height: 10%;
      padding: 15px;
      font-size:20px;
      font-weight:bold;
      display: block;
      margin : 30px 0 0 auto;      
      word-break:break-all; 
      position: relative;
      background: #68fde7;
      border-radius: .4em;
      height:auto;

   }
   
   .myMsg:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 80%;
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-top-color: #68fde7;
      border-bottom: 0;
      border-right: 0;
      margin-left: -8px;
      margin-bottom: -16px;
   }
   
   .yourMsg{
      width: 30%;
      height: 10%;
      padding: 15px;
      font-size:20px;
      font-weight:bold;
      display: block;
      text-align:left;
      margin : 30px;   
      word-break:break-all; 
      position: relative;
      background: #e1f939;
      border-radius: .4em;
      height:auto;
   }

   .yourMsg:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 20%;
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-top-color: #e1f939;
      border-bottom: 0;
      border-left: 0;
      margin-left: -8px;
      margin-bottom: -16px;
   }
   
   #chatlist{
      width:100%;
      height:100%;
      
   }
   
   input[type=checkbox] {
   visibility: hidden;
}

input[type=checkbox]+label {
   display: inline-block; /* 영역적용가능해짐 */
   width: 20px;
   height: 20px;
   border: 2px solid #333;
   box-sizing: border-box;
   border-radius: 10px; /* 모서리둥글게 처리 */
   position: relative;
   top: 4px;
   cursor: pointer; /* 마우스 올렸을때 손모양 처리 */;
}

input[type=checkbox]:checked+label {
   display: inline-block; /* 영역적용가능해짐 */
   width: 20px;
   height: 20px;
   border: 2px solid #333;
   box-sizing: border-box;
   border-radius: 10px; /* 모서리둥글게 처리 */
   position: relative;
   top: 4px;
   cursor: pointer; /* 마우스 올렸을때 손모양 처리 */;
}

input[type=checkbox]:checked+label:after {
   content: '\2714';
   font-size: 25px;
   color: #333;
   position: absolute;
   top: -14px;
   left: 0;
}
         