@charset "UTF-8";

    @font-face {
    font-family: '123RF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/123RF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
    a{
    text-decoration: none;
    }
      body { padding: 0px; margin: 0px;}
      .jb-box { width: 100%;  overflow: hidden;margin: 0px auto; position: relative; }
      video { width: 100%;
      max-width  : 100%; 
      height: 100%;
      size: cover;
	  z-index: -999;
      position: fixed;
      object-fit: fill;
  	 top: 0px;
  	 left: 0px;            
      }
      .jb-img { position: absolute; top: 25%; width: 100%; left: 25%;}
  	 #index_btn{
  	 margin-right : 10%;
  	 margin-bottom: 15%;
  	 float: right;
  	 }

  a{
    text-decoration: none;
    }
body { padding: 0px; margin: 0px;}
      .jb-box { width: 100%;  overflow: hidden;margin: 0px auto; position: relative; }

  	 #black_box{
  	 width :100%;
  	 height : 100%;
  	 position: fixed;
  	 top: 0px;
  	 left: 0px;
  	 background-color: rgba(0,0,0,0.7);
  	 z-index: -599;
  	 }
	#loginForm_box{
		margin : 10% 30%;
		width : 40%;
		text-align : center;
		float: left;
	}
	input[type="text"],input[type="password"]{
	color: navy;
	width: 70%;
	}
	input[type="password"]{
	font-family: 'Arial Narrow';
	}
	input[type="submit"],input[type="button"]{
	margin : 0 auto;
	width : 150px;
	height : 50px;
	background-color: rgb(50,50,50);
	color: white;
	border-radius: 10px;
	font-size: 25px;
	}
	/* 로그인 */
	